<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Bio</title>
  </head>
  <body>
    <h2>Create Bio</h2>
    <div>
      <p>-----------------------</p>
      <b>Name:</b>
      <br />
      <b>Email: </b>
    </div>
    <br />
    <div>
      <label for="avatar">Avatar</label>
      <br />
      <input type="file" />
    </div>
    <br />
    <div>
      <label for="">Bio</label>
      <br />
      <textarea name="bio" id="bio" cols="30" rows="10"></textarea>
    </div>
    <button><a href="">Edit</a></button>
  </body>
</html>
